<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Search</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/css-main.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% include ./admin_sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./admin_topbar %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Search</h1>
            <div class="d-flex justify-content-end" style="margin-right: 30px;">
              <a href="/admin/search/add" class="btn btn-primary pull-right">Write</a>
            </div>
          </div>

          <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-body">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(goods == null || goods.length == 0){ %>
                      <tr class="noData">
                        <td colspan="8" style="text-align: center;">There is no material to show.</td>
                      </tr>
                      <% } %>

                      <% goods.forEach(function(goods,index){ %>
                      <tr>
                        <th scope="row"><%= goods.no %></th>
                        <td> <a style="color: #000000" href="/admin/search/view/<%= goods.no %>"><%= goods.title %></a>
                        </td>
                        <td> <%= time[index] %></td>

                      </tr>
                      <% }) %>
                    </tbody>
                  </table>

                  <div class="container">
                    <ul class="pagination justify-content-center">

                      <%
                                  var curSet = result2.curSet
                                  var endPage = result2.endPage
                                  var startPage = result2.startPage
                                  var totalSet = result2.totalSet
                                  var totalPage = result2.totalPage
                                  var page_list_size = result2.page_list_size
                                  var page_size = result2.page_size
                                  var curPage = result2.curPage %>


                      <% if(result2.curSet > 1){ %>

                      <li value="<%= (startPage -1) %>" class="page-item">
                        <a href='/admin/search/<%= (startPage - 1) %>' class="page-link">Previous</a>
                      </li>

                      <% } %>


                      <% for(var i = startPage; i <= endPage; i++){
                                
                                  if(i > totalPage){break;}
                                  
                                  if(i == curPage){ %>

                      <li value="<%= i %>" class="page-item active">
                        <a href='/admin/search/<%= i %>' class="page-link">
                          <%= i %>
                        </a>
                      </li>

                      <% }else{ %>
                      <li value="<%= i %>" class="page-item">
                        <a href='/admin/search/<%= i %>' class="page-link">
                          <%= i %>
                        </a>
                      </li>
                      <% } %>
                      <% } %>

                      <% if(curSet < totalSet){ %>
                      <li value="<%= (endPage + 1) %>" class="page-item">
                        <a href='/admin/search/<%= ( endPage + 1) %>' class="page-link">Next</a>
                      </li>
                      <% } %>

                    </ul>
                  </div>
                </div>
                  <!-- Card Body -->
                </div>
              </div>
              <!-- Pie Chart -->

            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright 2019. Senate of Cambodia</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/script-main.js"></script>

</body>

</html>